div.start{
    /* https://uigradients.com/#Horizon */
      background: #003973; /* fallback for old browsers */
      background: -webkit-linear-gradient(to bottom, #003973, #e5e5be); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to bottom, #003973, #e5e5be); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }