body,
body > div,
body > div > div,
body > div > div > div.start {
  height: auto;  /* Venice Blue */

}

body > div,
body > div > div,
body > div > div > div.toggleCheck {
font-weight: Bold
}


.socialButton{
  width: 32px;
  display: inline-block;
}
.emailText{
  margin-top: -3px;
}
