body,
body > div,
body > div > div,
body > div > div > div.start {
  height: auto;  /* Venice Blue */
  background: #145b82;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #85D8CE, #145b82);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #85D8CE, #145b82); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

body > div,
body > div > div,
body > div > div > div.toggleCheck {
color:white !important;
font-weight: Bold
}
