
body,
body > div,
body > div > div,
body > div > div > div.finalMural {
  height: auto;
}
.topImage{
    border-bottom: dashed 2px #ccc;
    border-top:solid 10px #145b82;
}
.bottomImage{
    border-bottom:solid 10px #145b82;

}
.topImage, .bottomImage{
border-left:solid 10px #145b82;
border-right:solid 10px #145b82;
border-radius:2%;

}